* {
    padding: 0;
    margin: 0;
}

#profiles {
    display: inline-block;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.profile {
    border: 1px solid black;
    overflow: scroll;
    display: inline-block;
    height: 170px;
    width: 180px;
}